<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Purchase Order</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}">Dashboard</a></li>
										<li><a th:href="@{/purchasing}">Purchasing</a></li>
										<li class="active"><a th:href="@{/purchasing/poord}">Order</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">

						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>Order</h1>
									</div>
									<div class="form-action-button">
										<a th:href="@{/purchasing/poord}" class="btn btn-sm btn-default"><i class="fas fa-plus"></i> New</a>
										<a th:if="${#strings.isEmpty(poordheader.xpornum)}" th:href="@{/purchasing/poord}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Add</a>
										<a th:if="${not #strings.isEmpty(poordheader.xpornum) and poordheader.xstatuspor != 'GRN Created' and poordheader.zactive == true}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> Update</a>
										<a th:if="${not #strings.isEmpty(poordheader.xpornum) and poordheader.xstatuspor != 'GRN Created' and poordheader.zactive == true}" th:href="@{/purchasing/poord/creategrn/draft/} + ${poordheader.xpornum}" class="btn btn-sm btn-success grn-btn-link draft"><i class="fas fa-tags"></i> Draft GRN</a>
										<a th:if="${not #strings.isEmpty(poordheader.xpornum) and poordheader.xstatuspor != 'GRN Created' and poordheader.zactive == true}" th:href="@{/purchasing/poord/creategrn/finalize/} + ${poordheader.xpornum}" class="btn btn-sm btn-success grn-btn-link"><i class="fas fa-tags"></i> Create and Finalize GRN</a>
										<a th:if="${not #strings.isEmpty(poordheader.xpornum) and poordheader.xstatuspor != 'GRN Created' and poordheader.zactive == true}" th:href="@{/purchasing/poord/archive/} + ${poordheader.xpornum}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Archive</a>
										<a th:if="${not #strings.isEmpty(poordheader.xpornum) and poordheader.zactive == false}" th:href="@{/purchasing/poord/restore/} + ${poordheader.xpornum}" class="btn btn-sm btn-success restore-btn-link"><i class="fas fa-trash-restore-alt"></i> Restore</a>
										<!-- Form Pagination -->
										<!-- <a th:href="@{/mastersetup/xcodes/paging/jump/top}" class="btn btn-sm btn-warning"><i class="fas fa-angle-double-up"></i> Top</a>
										<a th:href="@{/formpaging/step/prev/} + ${#strings.isEmpty(xcodes.xcode) ? 'start' : xcodes.xcode} + '?table=Xcodes&column=xcode&redirectUrl=/mastersetup/xcodes'" class="btn btn-sm btn-info"><i class="fas fa-angle-double-left"></i> Previous</a>
										<a th:href="@{/formpaging/step/next/} + ${#strings.isEmpty(xcodes.xcode) ? 'start' : xcodes.xcode} + '?table=Xcodes&column=xcode&redirectUrl=/mastersetup/xcodes'" class="btn btn-sm btn-info">Next <i class="fas fa-angle-double-right"></i></a>
										<a th:href="@{/mastersetup/xcodes/paging/jump/bottom}" class="btn btn-sm btn-warning">Bottom <i class="fas fa-angle-double-down"></i></a> -->
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" th:action="@{/purchasing/poord/save}" th:object="${poordheader}" method="post" th:with="df=${'E, dd-MMM-yyyy'}">
											<!-- <input type="hidden" th:if="${not #strings.isEmpty(xcodes.copyId)}" id="copyId" name= "copyId"/>  -->
											<!-- <input type="hidden" th:if="${not #strings.isEmpty(poordheader.xpornum)}" th:field="*{xpornum}"/> -->
											<input type="hidden" th:field="*{xtype}"/>
											<input type="hidden" id="xpornum" th:if="${not #strings.isEmpty(poordheader.xpornum)}" class="form-control" th:field="*{xpornum}">
											<input type="hidden" class="form-control" th:field="*{xtotamt}">
											<div class="row">
												<div class="col-md-6">

													<div class="form-group" th:if="${#strings.isEmpty(poordheader.xpornum)}">
														<label class="control-label col-md-4" for="xitem">P.O. Prefix : </label>
														<div class="col-md-4">
															<select class="form-control" th:field="*{xtrnpor}">
																<option th:each="prefix : ${poprefix}" th:value="${prefix.xtrn}" th:text="${prefix.xtrn}"></option>
															</select>
														</div>
													</div>

													<div class="form-group" th:if="${not #strings.isEmpty(poordheader.xpornum)}">
														<label class="control-label col-md-4" for="xpornum">PO Number : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xpornum}" disabled="disabled">
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xcus">Supplier No : </label>
														<div class="col-sm-6">
															<input 	type="text" 
																	class="form-control searchsuggest" 
																	placeholder="Search..." 
																	th:value="${poordheader.xcus}" 
																	th:attr="search-url='search/supplier'"/>
															<input type="hidden" id="search-val" th:field="*{xcus}" value=""/>
															<input type="hidden" id="search-des" value=""/>
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xref">Supplier Ref : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xref}">
														</div>
													</div>

													<div class="form-group datepicker">
														<label class="control-label col-md-4" for="xdate">Date : </label>
														<div class="input-group date col-md-6 datepicker">
															<input 	type="datepicker" 
																	class="form-control" 
																	id="xdate"
																	name="xdate"
																	th:value="${poordheader.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(poordheader.xdate, df)}"/>
															<div class="input-group-addon">
																<span class="glyphicon glyphicon-calendar"></span>
															</div>
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xwh">Warehouse : </label>
														<div class="col-md-8">
															<select class="form-control" th:field="*{xwh}">
																<option th:each="wh : ${warehouses}" th:value="${wh.xcode}" th:text="${wh.xcode}"></option>
															</select>
														</div>
													</div>

												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label col-md-4" for="xtotamt">Total Amount : </label>
														<div class="col-md-6">
															<input type="number" class="form-control" th:field="*{xtotamt}" min="0" disabled="disabled">
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xstatuspor">PO Status : </label>
														<div class="col-md-8">
															<select class="form-control" th:field="*{xstatuspor}">
																<option th:each="s : ${postatusList}" th:text="${s.xcode}" th:value="${s.xcode}"></option>
															</select>
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xnote">Note : </label>
														<div class="col-md-8">
															<textarea class="form-control" th:field="*{xnote}" rows="3"></textarea>
														</div>
													</div>

												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>All Orders</h1>
									</div>
									<div class="section-body">
										<table class="table table-striped table-bordered datatable nowrap">
											<thead>
												<tr>
													<th>Purchase Order</th>
													<th>Date</th>
													<th>Total Amount</th>
													<th>Status</th>
												</tr>
											</thead>
											<tbody th:with="df=${'E, dd-MMM-yyyy'}">
												<tr th:each="poord : ${allPoordHeader}">
													<td>
														<a th:href="@{/purchasing/poord/} + ${poord.xpornum}" th:text="${poord.xpornum}"></a>
													</td>
													<td  th:text="${#dates.format(poord.xdate, df)}"></td>
													<td th:text="${poord.xtotamt}"></td>
													<td th:text="${poord.xstatuspor}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>

							</div>
						</div>
						
					</div>

					<div class="col-md-12">
						<!-- poorddetail section -->
						<section th:if="${not #strings.isEmpty(poordheader.xpornum)}" id="data-maintenance" style="margin-top: 30px;">
							<a id="listlines-url" th:href="@{/purchasing/poord/poorddetails/} + ${poordheader.xpornum}"></a>
							<div class="section-header sectionbartoggle">
								<h1>Order Details</h1>
							</div>
							<div class="section-body">
								<table class="table table-striped table-bordered datatable nowrap" id="poorddetailtable" th:fragment="poorddetailtable">
									<thead>
										<tr>
											<th>Row</th>
											<th>Item Code</th>
											<th>Note</th>
											<th>Qty</th>
											<th>Rate</th>
											<th>Purchase Unit</th>
											<th>Net Amount</th>
											<th data-nosort="Y" style="text-align: right;">
												<button type="button" class="btn btn-success btn-add" th:attr="data-url=@{/purchasing/poord/} + ${poordheader.xpornum} + '/poorddetail/new/show', data-target-modal='poorddetailmodal'"><i class="fas fa-plus"></i></button>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="d : ${poorddetailsList}">
											<td th:text="${d.xrow}"></td>
											<td>
												<a href="" th:text="${d.xitem}"></a>
											</td>
											<td th:text="${d.xnote}"></td>
											<td th:text="${d.xqtyord}"></td>
											<td th:text="${d.xrate}"></td>
											<td th:text="${d.xunitpur}"></td>
											<td th:text="${d.xlineamt}"></td>
											<td data-nosort="Y" style="text-align: right; font-size: 11px;">
												<button type="button" class="btn btn-default btn-edit editmode" th:attr="data-url=@{/purchasing/poord/} + ${poordheader.xpornum} + '/poorddetail/' + ${d.xrow} + '/show', data-target-modal='poorddetailmodal'"><i class="fas fa-edit"></i></button>
												<button type="button" class="btn btn-danger btn-delete editmode" th:attr="data-url=@{/purchasing/poord/} + ${poordheader.xpornum} + '/poorddetail/' + ${d.xrow} + '/delete'"><i class="fas fa-trash"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div id="poorddetailmodal-section"></div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
	
	<script>
		$(document).ready(function(){
			$(".grn-btn-link").on("click", function(){
				
			});
			$('a.grn-btn-link').off('click').on('click', function(e){
				e.preventDefault();
				var porNum = $("#xpornum").val();
				var status;
				if($(this).hasClass("draft")){
					status = "draft";
				}else{
					status = "finalize";
				}
				$.ajax({
					url: "/asl-erp/purchasing/poord/creategrn/" + status + "/" +porNum,
					success: function(result){
						console.log(result.status)
						//location.reload(true);
					}
				});
			});
		});
	</script>
</html>