<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asl.mapper.LandInfoMapper">

	<insert id="saveLandInfo" parameterType="LandInfo">
		<selectKey keyProperty="xland" resultType="String" order="BEFORE">
			SELECT Func_GetTrn('${zid}', '${xtypetrn}', '${xtrn}', 6) FROM DUAL
		</selectKey>
		INSERT INTO landinfo
		(
			xland,
			xlname,
			xblock,
			xroad,
			xcslanddag,
			xcslandqty, 
			xcslandunit, 
			xrslanddag,
			xrslandqty, 
			xrslandunit,
			xcitylanddag, 
			xcitylandqty, 
			xcitylandunit, 
			xlandgrsqty, 
			xlanggrsunit,
			xlanddedroad, 
			xlanddedother, 
			xlandnetqty,
			xlandnetunit, 
			xriversideqty, 
			xriversideunit, 
			xnote, 
			xlandparent,  
			xstatus,
			xroadred,
			xotherred,
			xdateborn,
			xtypetrn,
			xtrn,
			zactive,
			zauserid,
			zid,
			ztime,
			zutime,
			zuuserid
		)
		VALUES
		(
			#{xland},
			#{xlname, jdbcType=VARCHAR},
			#{xblock, jdbcType=VARCHAR},
			#{xroad, jdbcType=VARCHAR},
			#{xcslanddag, jdbcType=INTEGER},
			#{xcslandqty, jdbcType=DECIMAL},
			#{xcslandunit, jdbcType=VARCHAR},
			#{xrslanddag, jdbcType=INTEGER},
			#{xrslandqty, jdbcType=DECIMAL},
			#{xrslandunit, jdbcType=VARCHAR},
			#{xcitylanddag, jdbcType=INTEGER},
			#{xcitylandqty, jdbcType=DECIMAL},
			#{xcitylandunit, jdbcType=VARCHAR},
			#{xlandgrsqty, jdbcType=DECIMAL},
			#{xlanggrsunit, jdbcType=VARCHAR},
			#{xlanddedroad, jdbcType=INTEGER},
			#{xlanddedother, jdbcType=INTEGER},
			#{xlandnetqty, jdbcType=DECIMAL},
			#{xlandnetunit, jdbcType=VARCHAR},
			#{xriversideqty, jdbcType=DECIMAL},
			#{xriversideunit, jdbcType=VARCHAR},
			#{xnote, jdbcType=VARCHAR},
			#{xlandparent, jdbcType=VARCHAR},
			#{xstatus, jdbcType=VARCHAR},
			#{xroadred, jdbcType=DECIMAL},
			#{xotherred, jdbcType=DECIMAL},
			#{xdateborn,jdbcType=DATE},
			#{xtypetrn, jdbcType=VARCHAR},
			#{xtrn, jdbcType=VARCHAR},
			#{zactive, jdbcType=VARCHAR},
			#{zauserid, jdbcType=VARCHAR},
			#{zid, jdbcType=VARCHAR},
			#{ztime, jdbcType=TIMESTAMP},
			#{zutime, jdbcType=TIMESTAMP},
			#{zuuserid, jdbcType=VARCHAR}
		)
	</insert>

	<update id="updateLandInfo" parameterType="LandInfo">
		UPDATE 
			landinfo
		SET
			xlname=#{xlname, jdbcType=VARCHAR},
			xblock=#{xblock, jdbcType=VARCHAR},
			xroad=#{xroad, jdbcType=VARCHAR},
			xcslanddag=#{xcslanddag, jdbcType=INTEGER},
			xcslandqty=#{xcslandqty, jdbcType=DECIMAL},
			xcslandunit=#{xcslandunit, jdbcType=VARCHAR},
			xrslanddag=#{xrslanddag, jdbcType=INTEGER},
			xrslandqty=#{xrslandqty, jdbcType=DECIMAL},
			xrslandunit=#{xrslandunit, jdbcType=VARCHAR},
			xcitylanddag=#{xcitylanddag, jdbcType=INTEGER},
			xcitylandqty=#{xcitylandqty, jdbcType=DECIMAL},
			xcitylandunit=#{xcitylandunit, jdbcType=VARCHAR},
			xlandgrsqty=#{xlandgrsqty, jdbcType=DECIMAL},
			xlanggrsunit=#{xlanggrsunit,jdbcType=VARCHAR},
			xlanddedroad=#{xlanddedroad, jdbcType=INTEGER},
			xlanddedother=#{xlanddedother, jdbcType=INTEGER},
			xlandnetqty=#{xlandnetqty, jdbcType=DECIMAL},
			xlandnetunit=#{xlandnetunit, jdbcType=VARCHAR},
			xriversideqty=#{xriversideqty, jdbcType=DECIMAL},
			xriversideunit=#{xriversideunit, jdbcType=VARCHAR},
			xnote=#{xnote, jdbcType=VARCHAR},
			xlandparent=#{xlandparent, jdbcType=VARCHAR},
			xstatus=#{xstatus, jdbcType=VARCHAR},
			xroadred=#{xroadred, jdbcType=DECIMAL},
			xotherred=#{xotherred, jdbcType=DECIMAL},
			xdateborn=#{xdateborn,jdbcType=DATE},
			xtypetrn=#{xtypetrn, jdbcType=VARCHAR},
			xtrn=#{xtrn, jdbcType=VARCHAR},
			zactive=#{zactive, jdbcType=VARCHAR},
			zauserid=#{zauserid, jdbcType=VARCHAR},
			ztime=#{ztime, jdbcType=TIMESTAMP},
			zutime=#{zutime, jdbcType=TIMESTAMP},
			zuuserid=#{zuuserid, jdbcType=VARCHAR}
		WHERE
			xland=#{xland , jdbcType=VARCHAR}
			AND zid=#{zid, jdbcType=VARCHAR}
	</update>

	<select id="getAllLandInfo" resultType="LandInfo">
		SELECT 
			* 
		FROM 
			landinfo 
		WHERE 
			zid=#{zid} 
			AND zactive='1'
		order by 
			ztime desc
	</select>

	<select id="findByLandInfo" resultType="LandInfo">
		SELECT 
			* 
		FROM 
			landinfo 
		WHERE 
			zid=#{zid} 
			AND xland=#{xland}
	</select>
	
	
	<insert id="saveLandOwner" parameterType="LandOwner">
	
	    <selectKey keyProperty="xrow" resultType="Integer" order="BEFORE">
			SELECT COALESCE(Max(xrow), 0) + 1 FROM calandowner WHERE zactive='1' AND zid=#{zid}
		</selectKey>
		INSERT INTO calandowner
		(
			xland,
			xrow,
			xperson,
			xtype,
			xnote,
			xqty, 
			xunit, 
			zactive,
			zauserid,
			zid,
			ztime,
			zutime,
			zuuserid
		)
		VALUES
		(
			#{xland, jdbcType=VARCHAR},
			#{xrow},
			#{xperson, jdbcType=VARCHAR},
			#{xtype, jdbcType=VARCHAR},
			#{xnote, jdbcType=VARCHAR},
			#{xqty, jdbcType=INTEGER},
			#{xunit, jdbcType=VARCHAR},
			#{zactive, jdbcType=VARCHAR},
			#{zauserid, jdbcType=VARCHAR},
			#{zid, jdbcType=VARCHAR},
			#{ztime, jdbcType=TIMESTAMP},
			#{zutime, jdbcType=TIMESTAMP},
			#{zuuserid, jdbcType=VARCHAR}
		)
	</insert>

	<update id="updateLandOwner" parameterType="LandOwner">
		UPDATE 
			calandowner
		SET
			xperson=#{xperson, jdbcType=VARCHAR},
			xtype=#{xtype, jdbcType=VARCHAR},
			xnote=#{xnote, jdbcType=VARCHAR},
			xqty=#{xqty, jdbcType=INTEGER},
			xunit=#{xunit, jdbcType=VARCHAR},
			zactive=#{zactive, jdbcType=VARCHAR},
			zauserid=#{zauserid, jdbcType=VARCHAR},
			zid=#{zid, jdbcType=VARCHAR},
			ztime=#{ztime, jdbcType=TIMESTAMP},
			zutime=#{zutime, jdbcType=TIMESTAMP},
			zuuserid=#{zuuserid, jdbcType=VARCHAR}
		WHERE
			xland=#{xland, jdbcType=VARCHAR}
			AND xrow=#{xrow, jdbcType=INTEGER}
			AND zid=#{zid, jdbcType=VARCHAR}
	</update>

	<select id="getAllLandOwner" resultType="LandOwner">
		SELECT 
			* 
		FROM 
			calandowner 
		WHERE 
			zid=#{zid} 
			AND zactive='1'
		order by 
			ztime desc
	</select>

	<select id="findByLandOwner" resultType="LandOwner">
		SELECT * FROM calandowner WHERE xland=#{xland} AND zid=#{zid} AND zactive='1'
	</select>

	<select id="findLandOwnerByXlandAndXrow" resultType="LandOwner">
		SELECT * FROM calandowner WHERE xland=#{xland} AND xrow=#{xrow} AND zid=#{zid} AND zactive='1'
	</select>

	<select id="searchPersonId" resultType="LandPerson">
		SELECT xperson FROM landperson WHERE (UPPER(xperson) LIKE '%' || #{xperson} || '%') AND zid=#{zid} AND zactive='1'
	</select>
	
	<delete id="deleteLandOwner" parameterType="LandOwner">
		DELETE FROM calandowner WHERE xrow=#{xrow} AND xland=#{xland} AND zactive='1' AND zid=#{zid}
	</delete>
</mapper>
