<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asl.mapper.LandCommitteeMembersMapper">

	<insert id="saveLandCommitteeMembers" parameterType="LandCommitteeMembers">
		INSERT INTO landcommitteemembers
		(
			xcommittee,
			xperson,
			xmembertype,
			xcontribution,
			xnote,
			zactive,
			zauserid,
			zid,
			ztime,
			zutime,
			zuuserid
		)
		VALUES
		(
			#{xcommittee, jdbcType=VARCHAR},
			#{xperson, jdbcType=VARCHAR},
			#{xmembertype, jdbcType=VARCHAR},
			#{xcontribution, jdbcType=VARCHAR},
			#{xnote, jdbcType=VARCHAR},
			#{zactive, jdbcType=VARCHAR},
			#{zauserid, jdbcType=VARCHAR},
			#{zid, jdbcType=VARCHAR},
			#{ztime, jdbcType=TIMESTAMP},
			#{zutime, jdbcType=TIMESTAMP},
			#{zuuserid, jdbcType=VARCHAR}
		)
	</insert>

	<update id="updateLandCommitteeMembers" parameterType="LandCommitteeMembers">
		UPDATE 
			landcommitteemembers
		SET
			xmembertype=#{xmembertype, jdbcType=VARCHAR},
			xcontribution=#{xcontribution, jdbcType=VARCHAR},
			xnote=#{xnote, jdbcType=VARCHAR},
			zactive=#{zactive, jdbcType=VARCHAR},
			zauserid=#{zauserid, jdbcType=VARCHAR},
			zid=#{zid, jdbcType=VARCHAR},
			ztime=#{ztime, jdbcType=TIMESTAMP},
			zutime=#{zutime, jdbcType=TIMESTAMP},
			zuuserid=#{zuuserid, jdbcType=VARCHAR}
		WHERE
			xcommittee=#{xcommittee, jdbcType=VARCHAR}
			AND xperson=#{xperson, jdbcType=VARCHAR}
			AND zid=#{zid, jdbcType=VARCHAR}
	</update>

	<select id="getAllLandCommitteeMembers" resultType="LandCommitteeMembers">
		SELECT 
			* 
		FROM 
			landcommitteemembers 
		WHERE 
			zid=#{zid} 
			AND zactive='1'
		order by 
			ztime desc
	</select>

	<select id="findByXcommitteeAndXperson" resultType="LandCommitteeMembers">
		SELECT 
			* 
		FROM 
			landcommitteemembers 
		WHERE 
			zid=#{zid} 
			AND xcommittee=#{xcommittee} 
			AND xperson=#{xperson}
	</select>

	<select id="searchCommitteeId" resultType="LandCommitteeInfo">
		SELECT xcommittee FROM landcommitteeinfo WHERE (UPPER(xcommittee) LIKE '%' || #{xcommittee} || '%') AND zid=#{zid} AND zactive='1'
	</select>

	<select id="searchPersonId" resultType="LandPerson">
		SELECT xperson FROM landperson WHERE (UPPER(xperson) LIKE '%' || #{xperson} || '%') AND zid=#{zid} AND zactive='1'
	</select>
	
	<delete id="deleteLandCommitteeMembers" parameterType="LandCommitteeMembers">
		DELETE FROM landcommitteemembers WHERE xcommittee=#{xcommittee} AND xperson=#{xperson} AND zactive='1' AND zid=#{zid}
	</delete>
	
</mapper>
