<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asl.mapper.OpcrnMapper">

	<insert id="saveOpcrnHeader" parameterType="Opcrnheader">
		<selectKey keyProperty="xcrnnum" resultType="String" order="BEFORE">
			SELECT Func_GetTrn('${zid}', '${xtrncrn}', '${xtrn}', 6) FROM DUAL
		</selectKey>
		INSERT INTO Opcrnheader
		(   
			xcrnnum,
			xdornum,
			xdate,
			xcus,
			xstatuscrn,
			xcur,
			xexch,
			xref,
			xgrandtot,
			xtotamt,
			xvatamt,
			xaitamt,
			xdiscamt,
			xvatait,
			xordernum,
			xstatusar,
			xamount,
			xvatrate,
			xdisc,
			xdiscf,
			xpaymenttype,
			xstatusjv,
			xvoucher,
			xwh,
			xnote,
			xtype,
			xtypetrn,
			xtrn,
			xdocnum,
			xtrncrn,		
			
			zid,
			zauserid,
			zuuserid,
			zaip,
			zuip,
			zactive,
			ztime,
			zutime
		)
		VALUES
		(
			#{xcrnnum},
			#{xdornum, jdbcType=VARCHAR},
			#{xdate, jdbcType=DATE},
			#{xcus, jdbcType=VARCHAR},
			#{xstatuscrn, jdbcType=VARCHAR},
			#{xcur, jdbcType=VARCHAR},
			#{xexch, jdbcType=VARCHAR},
			#{xref, jdbcType=VARCHAR},
			#{xgrandtot, jdbcType=DECIMAL},
			#{xtotamt, jdbcType=DECIMAL},
			#{xvatamt, jdbcType=DECIMAL},
			#{xaitamt, jdbcType=DECIMAL},
			#{xdiscamt, jdbcType=DECIMAL},
			#{xvatait, jdbcType=VARCHAR},
			#{xordernum, jdbcType=VARCHAR},
			#{xstatusar, jdbcType=VARCHAR},
			#{xamount, jdbcType=DECIMAL},
			#{xvatrate, jdbcType=DECIMAL},
			#{xdisc, jdbcType=VARCHAR},
			#{xdiscf, jdbcType=VARCHAR},
			#{xpaymenttype, jdbcType=VARCHAR},
			#{xstatusjv, jdbcType=VARCHAR},
			#{xvoucher, jdbcType=VARCHAR},
			#{xwh, jdbcType=VARCHAR},
			#{xnote, jdbcType=VARCHAR},
			#{xtype, jdbcType=VARCHAR},
			#{xtypetrn, jdbcType=VARCHAR},
			#{xtrn, jdbcType=VARCHAR},
			#{xdocnum, jdbcType=VARCHAR},
			#{xtrncrn, jdbcType=VARCHAR},
			
			#{zid, jdbcType=VARCHAR},
			#{zauserid, jdbcType=VARCHAR},
			#{zuuserid, jdbcType=VARCHAR},
			#{zaip, jdbcType=VARCHAR},
			#{zuip, jdbcType=VARCHAR},
			#{zactive, jdbcType=VARCHAR},
			#{ztime, jdbcType=TIMESTAMP},
			#{zutime, jdbcType=TIMESTAMP}
		) 
	</insert>
	
	<update id="updateOpcrnHeader" parameterType="Opcrnheader">
		UPDATE
			OpcrnHeader
		SET
			xdornum=#{xdornum, jdbcType=VARCHAR},
			xdate=#{xdate, jdbcType=DATE},
			xcus=#{xcus, jdbcType=VARCHAR},
			xstatuscrn=#{xstatuscrn, jdbcType=VARCHAR},
			xcur=#{xcur, jdbcType=VARCHAR},
			xexch=#{xexch, jdbcType=VARCHAR},
			xref=#{xref, jdbcType=VARCHAR},
			xgrandtot=#{xgrandtot, jdbcType=DECIMAL},
			xtotamt=#{xtotamt, jdbcType=DECIMAL},
			xvatamt=#{xvatamt, jdbcType=DECIMAL},
			xaitamt=#{xaitamt, jdbcType=DECIMAL},
			xdiscamt=#{xdiscamt, jdbcType=DECIMAL},
			xvatait=#{xvatait, jdbcType=VARCHAR},
			xordernum=#{xordernum, jdbcType=VARCHAR},
			xstatusar=#{xstatusar, jdbcType=VARCHAR},
			xamount=#{xamount, jdbcType=DECIMAL},
			xvatrate=#{xvatrate, jdbcType=DECIMAL},
			xdisc=#{xdisc, jdbcType=VARCHAR},
			xdiscf=#{xdiscf, jdbcType=VARCHAR},
			xpaymenttype=#{xpaymenttype, jdbcType=VARCHAR},
			xstatusjv=#{xstatusjv, jdbcType=VARCHAR},
			xvoucher=#{xvoucher, jdbcType=VARCHAR},
			xwh=#{xwh, jdbcType=VARCHAR},
			xnote=#{xnote, jdbcType=VARCHAR},
			xtype=#{xtype, jdbcType=VARCHAR},
			xtypetrn=#{xtypetrn, jdbcType=VARCHAR},
			xtrn=#{xtrn, jdbcType=VARCHAR},
			xdocnum=#{xdocnum, jdbcType=VARCHAR},
			xtrncrn=#{xtrncrn, jdbcType=VARCHAR},
	
			zid=#{zid, jdbcType=VARCHAR},
			zauserid=#{zauserid, jdbcType=VARCHAR},
			zuuserid=#{zuuserid, jdbcType=VARCHAR},
			zaip=#{zaip, jdbcType=VARCHAR},
			zuip=#{zuip, jdbcType=VARCHAR},
			zactive=#{zactive, jdbcType=VARCHAR},
			ztime=#{ztime, jdbcType=TIMESTAMP},
			zutime=#{zutime, jdbcType=TIMESTAMP}
		WHERE
			xcrnnum=#{xcrnnum} AND zid=#{zid} AND zactive='1' 
	</update>
	
	<insert id="saveOpcrnDetail" parameterType="Opcrndetail">
		<selectKey keyProperty="xrow" resultType="Integer" order="BEFORE">
			SELECT COALESCE(Max(xrow), 0) + 1 FROM Opcrndetail WHERE xcrnnum=#{xcrnnum} AND zactive='1' AND zid=#{zid}
		</selectKey>
		INSERT INTO Opcrndetail
		(
			xrow,
			xcrnnum,
			xitem,
			xqtyord,
			xrate,
			xunit,
			xlineamt,
			xlong,
			xvatrate,
			xsrate,
			xrategrn,
			xdocrow,

			zid,
			zauserid,
			zuuserid,
			zaip,
			zuip,
			zactive,
			ztime,
			zutime
		)
		VALUES
		(
			#{xrow},
			#{xcrnnum, jdbcType=VARCHAR},
			#{xitem, jdbcType=VARCHAR},
			#{xqtyord, jdbcType=DECIMAL},
			#{xrate, jdbcType=DECIMAL},
			#{xunit, jdbcType=VARCHAR},
			#{xlineamt, jdbcType=DECIMAL},
			#{xlong, jdbcType=VARCHAR},
			#{xvatrate, jdbcType=DECIMAL},
			#{xsrate, jdbcType=DECIMAL},
			#{xrategrn, jdbcType=DECIMAL},
			#{xdocrow, jdbcType=INTEGER},
			
			#{zid, jdbcType=VARCHAR},
			#{zauserid, jdbcType=VARCHAR},
			#{zuuserid, jdbcType=VARCHAR},
			#{zaip, jdbcType=VARCHAR},
			#{zuip, jdbcType=VARCHAR},
			#{zactive, jdbcType=VARCHAR},
			#{ztime, jdbcType=TIMESTAMP},
			#{zutime, jdbcType=TIMESTAMP}
		) 
	</insert>

	<update id="updateOpcrnDetail" parameterType="Opcrndetail">
		UPDATE 
			Opcrndetail
		SET
			xitem=#{xitem, jdbcType=VARCHAR},
			xqtyord=#{xqtyord, jdbcType=DECIMAL},
			xrate=#{xrate, jdbcType=DECIMAL},
			xunit=#{xunit, jdbcType=VARCHAR},
			xlineamt=#{xlineamt, jdbcType=DECIMAL},
			xlong=#{xlong, jdbcType=VARCHAR},
			xvatrate=#{xvatrate, jdbcType=DECIMAL},
			xsrate=#{xsrate, jdbcType=DECIMAL},
			xrategrn=#{xrategrn, jdbcType=DECIMAL},
			xdocrow=#{xdocrow, jdbcType=INTEGER},
			
			zauserid=#{zauserid, jdbcType=VARCHAR},
			zuuserid=#{zuuserid, jdbcType=VARCHAR},
			zaip=#{zaip, jdbcType=VARCHAR},
			zuip=#{zuip, jdbcType=VARCHAR},
			zactive=#{zactive, jdbcType=VARCHAR},
			ztime=#{ztime, jdbcType=TIMESTAMP},
			zutime=#{zutime, jdbcType=TIMESTAMP}
		WHERE
			xcrnnum=#{xcrnnum, jdbcType=VARCHAR}
			AND xrow=#{xrow, jdbcType=INTEGER}
			AND zid=#{zid, jdbcType=VARCHAR}
	</update>

	<select id="findOpcrnHeaderByXcrnnum" resultType="Opcrnheader">
		SELECT * FROM Opcrnheader WHERE xcrnnum=#{xcrnnum} AND zid=#{zid} AND zactive='1'
	</select>
	
	<select id="findOpcrnHeaderByXdornum" resultType="Opcrnheader">
		SELECT * FROM Opcrnheader WHERE xdornum=#{xdornum} AND zid=#{zid} AND zactive='1'
	</select>

	<select id="findOpcrndetailByXcrnnumAndXrow" resultType="Opcrndetail">
		SELECT * FROM Opcrndetail WHERE xcrnnum=#{xcrnnum} AND xrow=#{xrow} AND zid=#{zid} AND zactive='1'
	</select>

	<select id="getAllOpcrnheader" resultType="Opcrnheader">
		SELECT * FROM Opcrnheader WHERE zid=#{zid} AND zactive='1' ORDER BY xcrnnum DESC
	</select>
	
	<select id="findOpcrnDetailByXcrnnum" resultType="Opcrndetail">
		SELECT * FROM Opcrndetail WHERE xcrnnum=#{xcrnnum} AND zid=#{zid} AND zactive='1' ORDER BY xrow ASC
	</select>
	
	<select id = "procConfirmCRN" statementType = "CALLABLE">
		{call DO_confirmCRN(#{zid, jdbcType = VARCHAR, mode = IN}, #{user, jdbcType = VARCHAR, mode = IN}, 
			#{xcrnnum, jdbcType = VARCHAR, mode = IN}, #{p_seq, jdbcType = VARCHAR, mode = IN})}
	</select>
	
	<select id = "procTransferOPtoAR" statementType = "CALLABLE">
		{call OP_transferOPtoAR(#{zid, jdbcType = VARCHAR, mode = IN}, #{user, jdbcType = VARCHAR, mode = IN}, #{xdornum, jdbcType = VARCHAR, mode = IN}, #{p_screen, jdbcType = VARCHAR, mode = IN}, #{p_seq, jdbcType = VARCHAR, mode = IN})}
	</select>
	

</mapper>