<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asl.mapper.PdmstMapper">
	<insert id="save" parameterType="Pdmst">
		<selectKey keyProperty="xstaff" resultType="String" order="BEFORE">
			SELECT Func_GetTrn('${zid}', '${xtypetrn}', '${xtrn}', 6) FROM DUAL
		</selectKey>
		INSERT INTO Pdmst
		(
			xstaff,
			xname,
			xemail,
			xphone,
			xmobile,
			xmadd,
			xpadd,
			xsex,
			xempstatus,
			xposition,
			xdesignation,
			xdeptname,
			xempcategory,
			xbirthdate,
			xdatejoin,
			xdatecom,
			xenddate,
			xemptype,
			xdistrict,
			xreligion,
			xbloodgroup,
			xtypetrn,
			xtrn,
			username,
			allowlogin,

			zid,
			zauserid,
			zuuserid,
			zaip,
			zuip,
			zactive,
			ztime,
			zutime
		)
		VALUES
		(
			#{xstaff, jdbcType=VARCHAR},
			#{xname, jdbcType=VARCHAR},
			#{xemail, jdbcType=VARCHAR},
			#{xphone, jdbcType=VARCHAR},
			#{xmobile, jdbcType=VARCHAR},
			#{xmadd, jdbcType=VARCHAR},
			#{xpadd, jdbcType=VARCHAR},
			#{xsex, jdbcType=VARCHAR},
			#{xempstatus, jdbcType=VARCHAR},
			#{xposition, jdbcType=VARCHAR},
			#{xdesignation, jdbcType=VARCHAR},
			#{xdeptname, jdbcType=VARCHAR},
			#{xempcategory, jdbcType=VARCHAR},
			#{xbirthdate, jdbcType=DATE},
			#{xdatejoin, jdbcType=DATE},
			#{xdatecom, jdbcType=DATE},
			#{xenddate, jdbcType=DATE},
			#{xemptype, jdbcType=VARCHAR},
			#{xdistrict, jdbcType=VARCHAR},
			#{xreligion, jdbcType=VARCHAR},
			#{xbloodgroup, jdbcType=VARCHAR},
			#{xtypetrn, jdbcType=VARCHAR},
			#{xtrn, jdbcType=VARCHAR},
			#{username, jdbcType=VARCHAR},
			#{allowlogin, jdbcType=BOOLEAN},

			#{zid, jdbcType=VARCHAR},
			#{zauserid, jdbcType=VARCHAR},
			#{zuuserid, jdbcType=VARCHAR},
			#{zaip, jdbcType=VARCHAR},
			#{zuip, jdbcType=VARCHAR},
			#{zactive, jdbcType=VARCHAR},
			#{ztime, jdbcType=TIMESTAMP},
			#{zutime, jdbcType=TIMESTAMP}
		) 
	</insert>
	
	<update id="update" parameterType="Pdmst">
		UPDATE
			pdmst
		SET
			xname=#{xname, jdbcType=VARCHAR},
			xemail=#{xemail, jdbcType=VARCHAR},
			xphone=#{xphone, jdbcType=VARCHAR},
			xmobile=#{xmobile, jdbcType=VARCHAR},
			xmadd=#{xmadd, jdbcType=VARCHAR},
			xpadd=#{xpadd, jdbcType=VARCHAR},
			xsex=#{xsex, jdbcType=VARCHAR},
			xempstatus=#{xempstatus, jdbcType=VARCHAR},
			xposition=#{xposition, jdbcType=VARCHAR},
			xdesignation=#{xdesignation, jdbcType=VARCHAR},
			xdeptname=#{xdeptname, jdbcType=VARCHAR},
			xempcategory=#{xempcategory, jdbcType=VARCHAR},
			xbirthdate=#{xbirthdate, jdbcType=DATE},
			xdatejoin=#{xdatejoin, jdbcType=DATE},
			xdatecom=#{xdatecom, jdbcType=DATE},
			xenddate=#{xenddate, jdbcType=DATE},
			xemptype=#{xemptype, jdbcType=VARCHAR},
			xdistrict=#{xdistrict, jdbcType=VARCHAR},
			xreligion=#{xreligion, jdbcType=VARCHAR},
			xbloodgroup=#{xbloodgroup, jdbcType=VARCHAR},
			xtypetrn=#{xtypetrn, jdbcType=VARCHAR},
			xtrn=#{xtrn, jdbcType=VARCHAR},
			username=#{username, jdbcType=VARCHAR},
			allowlogin=#{allowlogin, jdbcType=BOOLEAN},

			zuuserid=#{zuuserid, jdbcType=VARCHAR},
			zaip=#{zaip, jdbcType=VARCHAR},
			zuip=#{zuip, jdbcType=VARCHAR},
			zactive=#{zactive, jdbcType=VARCHAR},
			ztime=#{ztime, jdbcType=TIMESTAMP},
			zutime=#{zutime, jdbcType=TIMESTAMP}
		WHERE
			xstaff=#{xstaff, jdbcType=VARCHAR}
			AND zid=#{zid, jdbcType=VARCHAR}
	</update>

	<select id="findPdmstByXstaff" resultType="Pdmst">
		SELECT * FROM pdmst WHERE xstaff=#{xstaff} AND zid=#{zid} 
		<if test="zactive != null and zactive != ''">
			AND zactive=#{zactive}
		</if>
	</select>

	<select id="getAllPdmst" resultType="Pdmst">
		SELECT * FROM pdmst WHERE zid=#{zid} 
		<if test="zactive != null and zactive != ''">
			AND zactive=#{zactive}
		</if>
	</select>

	<select id="searchStaff" resultType="Pdmst">
		SELECT 
			* 
		FROM 
			pdmst 
		WHERE 
			(UPPER(xstaff) LIKE '%' || #{xstaff} || '%' OR UPPER(xname) LIKE '%' || #{xstaff} || '%'  OR UPPER(xmobile) LIKE '%' || #{xstaff} || '%') 
			AND zid=#{zid} 
			AND zactive='1'
			AND allowlogin='1'
	</select>
</mapper>