<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Booking</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}">Dashboard</a></li>
										<li><a th:href="@{/conventionmanagement}">Convention Management</a></li>
										<li class="active"><a th:href="@{/conventionmanagement/booking}">Hall Booking</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
						<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>Order</h1>
									</div>
									<div class="form-action-button">
										<a th:href="@{/conventionmanagement/booking}" class="btn btn-sm btn-default"><i class="fas fa-plus"></i> New</a>
										<a th:if="${#strings.isEmpty(opordheader.xordernum)}" th:href="@{/conventionmanagement/booking}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Add</a>
										<a th:if="${not #strings.isEmpty(opordheader.xordernum) and opordheader.xstatuspor != 'Confirmed' and opordheader.zactive == true}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> Update</a>
										<a th:if="${not #strings.isEmpty(opordheader.xordernum) and opordheader.xstatuspor != 'Confirmed' and opordheader.zactive == true}" th:href="@{/conventionmanagement/booking/creategrn/} + ${opordheader.xordernum}" class="btn btn-sm btn-success grn-btn-link"><i class="fas fa-tags"></i> Book Room </a>
										<a th:if="${not #strings.isEmpty(opordheader.xordernum) and opordheader.xstatuspor == 'Confirmed' and opordheader.zactive == true}" th:href="@{/conventionmanagement/booking/print/} + ${opordheader.xordernum}" class="btn btn-sm btn-primary print-btn-link" target="_blank"><i class="fas fa-print"></i> Print </a>
										<a th:if="${not #strings.isEmpty(opordheader.xordernum) and opordheader.xstatuspor != 'Confirmed' and opordheader.zactive == true}" th:href="@{/conventionmanagement/booking/archive/} + ${opordheader.xordernum}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Cancel Booking</a>
										<a th:if="${not #strings.isEmpty(opordheader.xordernum) and opordheader.zactive == false}" th:href="@{/conventionmanagement/booking/restore/} + ${opordheader.xordernum}" class="btn btn-sm btn-success restore-btn-link"><i class="fas fa-trash-restore-alt"></i> Restore</a>
										<!-- Form Pagination -->
										<!-- <a th:href="@{/mastersetup/xcodes/paging/jump/top}" class="btn btn-sm btn-warning"><i class="fas fa-angle-double-up"></i> Top</a>
										<a th:href="@{/formpaging/step/prev/} + ${#strings.isEmpty(xcodes.xcode) ? 'start' : xcodes.xcode} + '?table=Xcodes&column=xcode&redirectUrl=/mastersetup/xcodes'" class="btn btn-sm btn-info"><i class="fas fa-angle-double-left"></i> Previous</a>
										<a th:href="@{/formpaging/step/next/} + ${#strings.isEmpty(xcodes.xcode) ? 'start' : xcodes.xcode} + '?table=Xcodes&column=xcode&redirectUrl=/mastersetup/xcodes'" class="btn btn-sm btn-info">Next <i class="fas fa-angle-double-right"></i></a>
										<a th:href="@{/mastersetup/xcodes/paging/jump/bottom}" class="btn btn-sm btn-warning">Bottom <i class="fas fa-angle-double-down"></i></a> -->
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" th:action="@{/conventionmanagement/booking/save}" th:object="${opordheader}" method="post" th:with="df=${'E, dd-MMM-yyyy'}">
											<!-- <input type="hidden" th:if="${not #strings.isEmpty(xcodes.copyId)}" id="copyId" name= "copyId"/>  -->
											<!-- <input type="hidden" th:if="${not #strings.isEmpty(opordheader.xordernum)}" th:field="*{xpornum}"/> -->
											<input type="hidden" th:field="*{xtypetrn}"/>
											<input type="hidden" id="xpornum" th:if="${not #strings.isEmpty(opordheader.xordernum)}" class="form-control" th:field="*{xpornum}">
											<div class="row">
												<div class="col-md-6">

													<div class="form-group" th:if="${#strings.isEmpty(opordheader.xordernum)}">
														<label class="control-label col-md-4" for="xitem">P.O. Prefix : </label>
														<div class="col-md-4">
															<select class="form-control" th:field="*{xtrn}">
																<option th:each="prefix : ${poprefix}" th:value="${prefix.xtrn}" th:text="${prefix.xtrn}"></option>
															</select>
														</div>
													</div>
													<div>
														<label class="control-label col-md-4" for="xordernum">Order Number : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xordernum}" disabled="disabled">
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xcus">Customer : </label>
														<div class="col-sm-8">
															<input 	type="text" 
																	class="form-control searchsuggest" 
																	placeholder="Search..." 
																	th:value="${opordheader.xcus}" 
																	th:attr="search-url='search/customer'"/>
															<input type="hidden" id="search-val" th:field="*{xcus}" value=""/>
															<input type="hidden" id="search-des" value=""/>
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xfunction">Function : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xfunction}">
														</div>
													</div>

													<div class="form-group datepicker">
														<label class="control-label col-md-4" for="xdate">Booking Date : </label>
														<div class="input-group date col-md-7 datepicker">
															<input 	type="datepicker" 
																	class="form-control" 
																	id="xdate"
																	name="xdate"
																	th:value="${opordheader.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(opordheader.xdate, df)}"/>
															<div class="input-group-addon">
																<span class="glyphicon glyphicon-calendar"></span>
															</div>
														</div>
													</div>
													
													<div class="form-group datepicker">
														<label class="control-label col-md-4" for="xfuncdate">Function Date : </label>
														<div class="input-group date col-md-7 datepicker">
															<input 	type="datepicker" 
																	class="form-control" 
																	id="xdate"
																	name="xdate"
																	th:value="${opordheader.xfuncdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(opordheader.xfuncdate, df)}"/>
															<div class="input-group-addon">
																<span class="glyphicon glyphicon-calendar"></span>
															</div>
														</div>
													</div>

												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label col-md-4" for="xtotamt">Start Time : </label>
														<div class="col-md-6">
															<input type="text" class="form-control" th:field="*{xtotamt}" min="0" disabled="disabled">
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xtotamt">End Time : </label>
														<div class="col-md-6">
															<input type="text" class="form-control" th:field="*{xtotamt}" min="0" disabled="disabled">
														</div>
													</div>
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xfacamt">Facilities : </label>
														<div class="col-md-6">
															<input type="text" class="form-control" th:field="*{xfacamt}" min="0" disabled="disabled">
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xfoodamt">Food Purpose : </label>
														<div class="col-md-6">
															<input type="text" class="form-control" th:field="*{xfoodamt}" min="0" disabled="disabled">
														</div>
													</div>
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xhallamt">Hall Charge : </label>
														<div class="col-md-6">
															<input type="text" class="form-control" th:field="*{xhallamt}" min="0" disabled="disabled">
														</div>
													</div>
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xtotamt">Total Amount : </label>
														<div class="col-md-6">
															<input type="text" class="form-control" th:field="*{xtotamt}" min="0" disabled="disabled">
														</div>
													</div>
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xdiscamt">Discount : </label>
														<div class="col-md-6">
															<input type="text" class="form-control" th:field="*{xdiscamt}" min="0" disabled="disabled">
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xnote">Note : </label>
														<div class="col-md-8">
															<textarea class="form-control" th:field="*{xnote}" rows="3"></textarea>
														</div>
													</div>
												</div>												
											</div>
										</form>
									</div>
								</section>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
	
</html>