<ul class="nav navbar-nav navbar-right" th:fragment="dashboard-menu" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<li class="dropdown ckbigmenucontainer">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fas fa-th"></i></a>
		<ul class="dropdown-menu ckbigmenu">
			<li class="ckbigmenu-li" th:if="${menuProfile.dashboard ne null and menuProfile.dashboard.display}">
				<a th:href="@{/}">
					<span class="ckbigmenu-icon" style="background: blue;">
						<i class="fas fa-tachometer-alt"></i>
					</span>
					<span class="ckbigmenu-text" th:text="${menuProfile.dashboard.screenPrompt}">Dashboard</span>
				</a>
			</li>
			<li class="ckbigmenu-li" th:if="${menuProfile.profileMaintenance ne null and menuProfile.profileMaintenance.display}">
				<a th:href="@{/system/profile}">
					<span class="ckbigmenu-icon" style="background: #000;">
						<i class="fas fa-id-badge"></i>
					</span>
					<span class="ckbigmenu-text" th:text="${menuProfile.profileMaintenance.screenPrompt}">Profile</span>
				</a>
			</li>
			<li class="ckbigmenu-li" th:if="${menuProfile.profileAllocation ne null and menuProfile.profileAllocation.display}">
				<a th:href="@{/system/profileallocation}">
					<span class="ckbigmenu-icon" style="background: #000;">
						<i class="fas fa-fingerprint"></i>
					</span>
					<span class="ckbigmenu-text" th:text="${menuProfile.profileAllocation.screenPrompt}">Profile Allocation</span>
				</a>
			</li>
			<li class="ckbigmenu-li" th:if="${menuProfile.listMaintenance ne null and menuProfile.listMaintenance.display}">
				<a th:href="@{/system/list}">
					<span class="ckbigmenu-icon" style="background: #000;">
						<i class="fas fa-th-list"></i>
					</span>
					<span class="ckbigmenu-text" th:text="${menuProfile.listMaintenance.screenPrompt}">List</span>
				</a>
			</li>
			<li class="ckbigmenu-li" th:if="${menuProfile.report ne null and menuProfile.report.display}">
				<a th:href="@{/report}">
					<span class="ckbigmenu-icon" style="background: green;">
						<i class="fas fa-cogs"></i>
					</span>
					<span class="ckbigmenu-text" th:text="${menuProfile.report.screenPrompt}">Report</span>
				</a>
			</li>
			<li class="ckbigmenu-li" th:if="${menuProfile.listImportExport ne null and menuProfile.listImportExport.display}">
				<a th:href="@{/importexport/listimportexport}">
					<span class="ckbigmenu-icon" style="background: #0c09f7;">
						<i class="fas fa-file-import"></i>
					</span>
					<span class="ckbigmenu-text" th:text="${menuProfile.listImportExport.screenPrompt}">List Im/Ex</span>
				</a>
			</li>
			<li class="ckbigmenu-li" th:if="${menuProfile.contact ne null and menuProfile.contact.display}">
				<a th:href="@{/contact}">
					<span class="ckbigmenu-icon" style="background: green;">
						<i class="fas fa-id-card"></i>
					</span>
					<span class="ckbigmenu-text" th:text="${menuProfile.contact.screenPrompt}">Contact</span>
				</a>
			</li>
			<li class="ckbigmenu-li" th:if="${menuProfile.xuser ne null and menuProfile.xuser.display}">
				<a th:href="@{/user}">
					<span class="ckbigmenu-icon" style="background: green;">
						<i class="fas fa-users-cog"></i>
					</span>
					<span class="ckbigmenu-text" th:text="${menuProfile.xuser.screenPrompt}">Manage User</span>
				</a>
			</li>
			<li class="ckbigmenu-li" th:if="${menuProfile.shop ne null and menuProfile.shop.display}">
				<a th:href="@{/shop}">
					<span class="ckbigmenu-icon" style="background: green;">
						<i class="fas fa-store"></i>
					</span>
					<span class="ckbigmenu-text" th:text="${menuProfile.shop.screenPrompt}">Shop</span>
				</a>
			</li>

			<li class="ckbigmenu-showall">Show all</li>

			<li class="ckbigmenu-li hidable-menu nodisplay">
				<a th:href="@{/logout}">
					<span class="ckbigmenu-icon" style="background: red;">
						<i class="fas fa-sign-out-alt"></i>
					</span>
					<span class="ckbigmenu-text">Logout</span>
				</a>
			</li>
		</ul>
	</li>
</ul>