<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Production Process / Batch</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}">Dashboard</a></li>
										<li><a th:href="@{/production}">Production</a></li>
										<li class="active"><a th:href="@{/production/batch}">Production Process / Batch</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">

						<div class="row">
							<div class="col-md-12">
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>Search Chalan</h1>
									</div>
									<div class="section-body">
										<form id="mainform" th:action="@{/production/batch/search/chalan}" method="post" class="form-horizontal">
											<div class="col-md-6">
												<div class="form-group">
													<label class="control-label col-sm-4" for="chalanNumber">Chalan Number : </label>
													<div class="col-sm-8">
														<input 	type="text" 
																class="form-control searchsuggest" 
																placeholder="Search..." 
																required="required"
																th:value="${chalan.xordernum}" 
																th:attr="search-url='search/salesorderchalan/confirmed'"/>
														<input type="hidden" id="search-val" name="chalanNumber" th:value="${chalan.xordernum}"/>
														<input type="hidden" id="search-des" value=""/>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="">
													<button class="btn btn-sm btn-success query-submit-btn" type="submit"><i class="fas fa-search"></i></button>
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>

							<div class="col-md-12">
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
									</div>
									<div class="section-body">
										<table class="table table-striped table-bordered" id="batchdetailtable" th:fragment="batchdetailtable">
											<h1 th:if="${not #lists.isEmpty(batchList)}" style="text-align: center; font-size: 25px;">Batch Details of Chalan : <a th:href="@{/salesninvoice/salesorderchalan/} + ${chalan.xordernum}" target="_blank" th:text="${chalan.xordernum}"></a></h1>
											<thead th:if="${not #lists.isEmpty(batchList)}">
												<tr>
													<th>SN.</th>
													<th>Batch</th>
													<th>Item</th>
													<th>BOM</th>
													<th>Production Qty</th>
													<th>Qty Completed</th>
													<th style="text-align: right">View Default</th>
													<th style="text-align: right">View Detail</th>
												</tr>
											</thead>
											<tbody th:with="df=${'E, dd-MMM-yyyy'}">
												<tr th:each="b, n : ${batchList}">
													<td th:text="${n.count}"></td>
													<td th:text="${b.xbatch}"></td>
													<td>
														<a th:href="@{/mastersetup/caitem/} + ${b.xitem}" target="_blank" th:text="${b.xitem} + ' - ' +  ${b.xdesc}"></a>
													</td>
													<td>
														<a th:href="@{/production/bom/} + ${b.xbomkey}" th:text="${b.xbomkey}"></a>
													</td>
													<td th:text="${b.xqtyprd} + ' ' + ${b.xqtyprdunit}"></td>
													<td>
														<form class="form-horizontal" th:id="${b.xbatch}" th:action="@{/production/batch/update/xqtycom/} + ${b.xbatch}" method="post">
															<input style="width:100px; float: left; margin-right: 10px;" type="text" name="xqtycom" th:value="${b.xqtycom}" class="form-control"/>
															<button th:id="${b.xbatch}" type="submit" class="btn btn-sm btn-success batch-submit" title="Submit"><i class="fas fa-paper-plane"></i></button>
															<span style="line-height: 27px;"  th:text="${b.xqtyprdunit}"></span>
														</form>
													</td>
													<td style="text-align: right">
														<button title="View Default" th:if="${b.bomexploaded}" type="button" class="btn btn-default btn-edit editmode" th:attr="data-url=@{/production/batch/batchdetail/} + ${b.xbatch} + '/default/show', data-target-modal='defaultbatchdetailmodal'"><i class="fas fa-eye"></i></button>
													</td>
													<td style="text-align: right">
														<button title="Add/Edit items" th:if="${b.bomexploaded}" type="button" class="btn btn-success btn-edit editmode" th:attr="data-url=@{/production/batch/batchdetail/} + ${b.xbatch} + '/others/show', data-target-modal='othersbatchdetailmodal'"><i class="fas fa-plus"></i></button>
													</td>
												</tr>
											</tbody>
											<script>
												$(document).ready(function(){
													$('.batch-submit').off('click').on('click', function(e){
														e.preventDefault();
														var form = $(this).parent('form');
														submitMainForm($(form).attr('action'), $(form));
													})
												});
											</script>
										</table>
									</div>
								</section>
							</div>
						</div>
						
					</div>

					

					
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div id="defaultbatchdetailmodal-section"></div>
		<div id="othersbatchdetailmodal-section"></div>

		<!-- Batch detail add modal -->
		<div id="batchdetailmodal-section"></div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>

		<script type="text/javascript">
			$(document).ready(function(){
				
				$('.query-submit-btn').on('click', function(e){
					e.preventDefault();
					submitMainForm();
				})

				$('.batch-submit').off('click').on('click', function(e){
					e.preventDefault();
					var form = $(this).parent('form');
					submitMainForm($(form).attr('action'), $(form));
				})
				
			})
		</script>
	</body>
</html>