<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asl.mapper.CacusMapper">

	<insert id="save" 
			parameterType="Cacus">
		<selectKey keyProperty="xcus" resultType="String" order="BEFORE">
			SELECT Func_GetTrn('${zid}', '${xtype}', '${xcustype}', 6) FROM DUAL
		</selectKey>
		INSERT INTO Cacus
		(
			xcus,
			xorg,
			xmadd,
			xwh,
			xcontact,
			xphone,
			xgcus,
			xvatregno,
			xstatuscus,
			xcrlimit,
			xcustype,
			xtype,
			zid,
			zauserid,
			zuuserid,
			zaip,
			zuip,
			zactive,
			ztime,
			zutime
		)
		VALUES
		(
			#{xcus},
			#{xorg, jdbcType=VARCHAR},
			#{xmadd, jdbcType=VARCHAR},
			#{xwh, jdbcType=VARCHAR},
			#{xcontact, jdbcType=VARCHAR},
			#{xphone, jdbcType=VARCHAR},
			#{xgcus, jdbcType=VARCHAR},
			#{xvatregno, jdbcType=VARCHAR},
			#{xstatuscus, jdbcType=VARCHAR},
			#{xcrlimit, jdbcType=DECIMAL},
			#{xcustype, jdbcType=VARCHAR},
			#{xtype, jdbcType=VARCHAR},
			#{zid, jdbcType=VARCHAR},
			#{zauserid, jdbcType=VARCHAR},
			#{zuuserid, jdbcType=VARCHAR},
			#{zaip, jdbcType=VARCHAR},
			#{zuip, jdbcType=VARCHAR},
			#{zactive, jdbcType=VARCHAR},
			#{ztime, jdbcType=TIMESTAMP},
			#{zutime, jdbcType=TIMESTAMP}
		) 
	</insert>

	<update id="update" 
			parameterType="Cacus">

		UPDATE
			Cacus
		SET
			xorg=#{xorg, jdbcType=VARCHAR},
			xmadd=#{xmadd, jdbcType=VARCHAR},
			xwh=#{xwh, jdbcType=VARCHAR},
			xcontact=#{xcontact, jdbcType=VARCHAR},
			xphone=#{xphone, jdbcType=VARCHAR},
			xgcus=#{xgcus, jdbcType=VARCHAR},
			xvatregno=#{xvatregno, jdbcType=VARCHAR},
			xstatuscus=#{xstatuscus, jdbcType=VARCHAR},
			xcrlimit=#{xcrlimit, jdbcType=DECIMAL},
			xcustype=#{xcustype, jdbcType=VARCHAR},
			xtype=#{xtype, jdbcType=VARCHAR},
			zid=#{zid, jdbcType=VARCHAR},
			zauserid=#{zauserid, jdbcType=VARCHAR},
			zuuserid=#{zuuserid, jdbcType=VARCHAR},
			zaip=#{zaip, jdbcType=VARCHAR},
			zuip=#{zuip, jdbcType=VARCHAR},
			zactive=#{zactive, jdbcType=VARCHAR},
			ztime=#{ztime, jdbcType=TIMESTAMP},
			zutime=#{zutime, jdbcType=TIMESTAMP}
		WHERE
			xcus=#{xcus, jdbcType=VARCHAR}
	</update>

	<select id="findByXcus" resultType="Cacus">
		SELECT * FROM Cacus WHERE zid=#{zid} AND xcus=#{xcus}
	</select>

	<select id="findByXtype" resultType="Cacus">
		SELECT * FROM Cacus WHERE xtype=#{xtype} AND zid=#{zid}
	</select>

	<select id="getAllCacus" resultType="Cacus">
		SELECT * FROM Cacus WHERE zid=#{zid} AND zactive='1'
	</select>

	<select id="searchCacus" resultType="Cacus">
		SELECT * FROM Cacus WHERE xtype=#{xtype} AND xcus LIKE '%' || #{xcus} || '%' AND zid=#{zid} AND zactive='1'
	</select>
</mapper>