<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asl.mapper.ImstockMapper">
	
	<select id="searchXitem" resultType="Imstock">
		SELECT DISTINCT xitem FROM imstock WHERE (UPPER(xitem) LIKE '%' || #{xitem} || '%') AND zid=#{zid} ORDER BY xitem
	</select>
</mapper>