<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asl.mapper.ListMapper">

	<insert id="saveListHead" 
			parameterType="ListHead" 
			useGeneratedKeys="true"
			keyColumn="listHeadId"
			keyProperty="listHeadId">

		INSERT INTO ListHead
		(
			listCode,
			description,
			prompt1,
			prompt2,
			prompt3,
			prompt4,
			prompt5,
			prompt6,
			prompt7,
			prompt8,
			prompt9,
			prompt10,
			prompt11,
			prompt12,
			prompt13,
			prompt14,
			prompt15,
			prompt16,
			notes,
			businessId,
			createdBy,
			lastModifiedBy,
			createdByIP,
			lastModifiedByIP,
			status,
			createDate,
			updateDate
		)
		VALUES
		(
			#{listCode},
			#{description},
			#{prompt1},
			#{prompt2},
			#{prompt3},
			#{prompt4},
			#{prompt5},
			#{prompt6},
			#{prompt7},
			#{prompt8},
			#{prompt9},
			#{prompt10},
			#{prompt11},
			#{prompt12},
			#{prompt13},
			#{prompt14},
			#{prompt15},
			#{prompt16},
			#{notes},
			#{businessId},
			#{createdBy},
			#{lastModifiedBy},
			#{createdByIP},
			#{lastModifiedByIP},
			#{status},
			#{createDate},
			#{updateDate}
		) 
	</insert>

	<update id="updateListHead" 
			parameterType="ListHead" 
			useGeneratedKeys="true"
			keyColumn="listHeadId"
			keyProperty="listHeadId">

		UPDATE
			ListHead
		SET
			listCode=#{listCode},
			description=#{description},
			prompt1=#{prompt1},
			prompt2=#{prompt2},
			prompt3=#{prompt3},
			prompt4=#{prompt4},
			prompt5=#{prompt5},
			prompt6=#{prompt6},
			prompt7=#{prompt7},
			prompt8=#{prompt8},
			prompt9=#{prompt9},
			prompt10=#{prompt10},
			prompt11=#{prompt11},
			prompt12=#{prompt12},
			prompt13=#{prompt13},
			prompt14=#{prompt14},
			prompt15=#{prompt15},
			prompt16=#{prompt16},
			notes=#{notes},
			businessId=#{businessId},
			createdBy=#{createdBy},
			lastModifiedBy=#{lastModifiedBy},
			createdByIP=#{createdByIP},
			lastModifiedByIP=#{lastModifiedByIP},
			status=#{status},
			createDate=#{createDate},
			updateDate=#{updateDate}
		WHERE
			listHeadId=#{listHeadId}
	</update>

	<insert id="saveDataList" 
			parameterType="DataList" 
			useGeneratedKeys="true"
			keyColumn="listId"
			keyProperty="listId">

		INSERT INTO DataList
		(
			listCode,
			description,
			listValue1,
			listValue2,
			listValue3,
			listValue4,
			listValue5,
			listValue6,
			listValue7,
			listValue8,
			listValue9,
			listValue10,
			listValue11,
			listValue12,
			listValue13,
			listValue14,
			listValue15,
			listValue16,
			extraValue1,
			extraValue2,
			extraValue3,
			extraValue4,
			extraValue5,
			businessId,
			createdBy,
			lastModifiedBy,
			createdByIP,
			lastModifiedByIP,
			status,
			createDate,
			updateDate
		)
		VALUES
		(
			#{listCode},
			#{description},
			#{listValue1},
			#{listValue2},
			#{listValue3},
			#{listValue4},
			#{listValue5},
			#{listValue6},
			#{listValue7},
			#{listValue8},
			#{listValue9},
			#{listValue10},
			#{listValue11},
			#{listValue12},
			#{listValue13},
			#{listValue14},
			#{listValue15},
			#{listValue16},
			#{extraValue1},
			#{extraValue2},
			#{extraValue3},
			#{extraValue4},
			#{extraValue5},
			#{businessId},
			#{createdBy},
			#{lastModifiedBy},
			#{createdByIP},
			#{lastModifiedByIP},
			#{status},
			#{createDate},
			#{updateDate}
		)
	</insert>

	<update id="updateDataList" 
			parameterType="DataList" 
			useGeneratedKeys="true"
			keyColumn="listId"
			keyProperty="listId">

		UPDATE 
			DataList
		SET
			listCode=#{listCode},
			description=#{description},
			listValue1=#{listValue1},
			listValue2=#{listValue2},
			listValue3=#{listValue3},
			listValue4=#{listValue4},
			listValue5=#{listValue5},
			listValue6=#{listValue6},
			listValue7=#{listValue7},
			listValue8=#{listValue8},
			listValue9=#{listValue9},
			listValue10=#{listValue10},
			listValue11=#{listValue11},
			listValue12=#{listValue12},
			listValue13=#{listValue13},
			listValue14=#{listValue14},
			listValue15=#{listValue15},
			listValue16=#{listValue16},
			extraValue1=#{extraValue1},
			extraValue2=#{extraValue2},
			extraValue3=#{extraValue3},
			extraValue4=#{extraValue4},
			extraValue5=#{extraValue5},
			businessId=#{businessId},
			createdBy=#{createdBy},
			lastModifiedBy=#{lastModifiedBy},
			createdByIP=#{createdByIP},
			lastModifiedByIP=#{lastModifiedByIP},
			status=#{status},
			createDate=#{createDate},
			updateDate=#{updateDate}
		WHERE
			listId=#{listId}
	</update>

	<select id="getAllListHead" resultType="ListHead">
		select * from lh
	</select>

</mapper>