<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asl.mapper.OpordMapper">

	<insert id="saveOpordHeader" parameterType="Opordheader">
		<selectKey keyProperty="xordernum" resultType="String" order="BEFORE">
			SELECT Func_GetTrn('${zid}', '${xtypetrn}', '${xtrn}', 6) FROM DUAL
		</selectKey>
		INSERT INTO Opordheader
		(
			xordernum,
			xdate,
			xcus,
			xref,
			xstatusord,
			xstatus,
			xstaff,
			xnote,
			xpornum,
			xtypetrn,
			xtrn,
			zid,
			zauserid,
			zuuserid,
			zaip,
			zuip,
			zactive,
			ztime,
			zutime
		)
		VALUES
		(
			#{xordernum},
			#{xdate, jdbcType=DATE},
			#{xcus, jdbcType=VARCHAR},
			#{xref, jdbcType=VARCHAR},
			#{xstatusord, jdbcType=VARCHAR},
			#{xstatus, jdbcType=VARCHAR},
			#{xstaff, jdbcType=VARCHAR},
			#{xnote, jdbcType=VARCHAR},
			#{xpornum, jdbcType=VARCHAR},
			#{xtypetrn, jdbcType=VARCHAR},
			#{xtrn, jdbcType=VARCHAR},
			#{zid, jdbcType=VARCHAR},
			#{zauserid, jdbcType=VARCHAR},
			#{zuuserid, jdbcType=VARCHAR},
			#{zaip, jdbcType=VARCHAR},
			#{zuip, jdbcType=VARCHAR},
			#{zactive, jdbcType=VARCHAR},
			#{ztime, jdbcType=TIMESTAMP},
			#{zutime, jdbcType=TIMESTAMP}
		) 
	</insert>

	<insert id="saveOpordDetail" parameterType="Oporddetail">
		<selectKey keyProperty="xrow" resultType="Integer" order="BEFORE">
			SELECT COUNT(*) + 1 FROM Oporddetail WHERE xordernum=#{xordernum} AND zactive='1' AND zid=#{zid}
		</selectKey>
		INSERT INTO Oporddetail
		(
			xordernum,
			xrow,
			xunit,
			xitem,
			xqtyord,
			xrate,
			xcomtype,
			xqtydel,
			xlong,
			zid,
			zauserid,
			zuuserid,
			zaip,
			zuip,
			zactive,
			ztime,
			zutime
		)
		VALUES
		(
			#{xordernum, jdbcType=VARCHAR},
			#{xrow},
			#{xunit, jdbcType=VARCHAR},
			#{xitem, jdbcType=VARCHAR},
			#{xqtyord, jdbcType=DECIMAL},
			#{xrate, jdbcType=DECIMAL},
			#{xcomtype, jdbcType=VARCHAR},
			#{xqtydel, jdbcType=DECIMAL},
			#{xlong, jdbcType=VARCHAR},
			#{zid, jdbcType=VARCHAR},
			#{zauserid, jdbcType=VARCHAR},
			#{zuuserid, jdbcType=VARCHAR},
			#{zaip, jdbcType=VARCHAR},
			#{zuip, jdbcType=VARCHAR},
			#{zactive, jdbcType=VARCHAR},
			#{ztime, jdbcType=TIMESTAMP},
			#{zutime, jdbcType=TIMESTAMP}
		) 
	</insert>

	<update id="updateOpordDetail" parameterType="Oporddetail">
		UPDATE 
			Oporddetail
		SET
			xunit=#{xunit, jdbcType=VARCHAR},
			xitem=#{xitem, jdbcType=VARCHAR},
			xqtyord=#{xqtyord, jdbcType=DECIMAL},
			xrate=#{xrate, jdbcType=DECIMAL},
			xcomtype=#{xcomtype, jdbcType=VARCHAR},
			xqtydel=#{xqtydel, jdbcType=DECIMAL},
			xlong=#{xlong, jdbcType=VARCHAR},
			zauserid=#{zauserid, jdbcType=VARCHAR},
			zuuserid=#{zuuserid, jdbcType=VARCHAR},
			zaip=#{zaip, jdbcType=VARCHAR},
			zuip=#{zuip, jdbcType=VARCHAR},
			zactive=#{zactive, jdbcType=VARCHAR},
			ztime=#{ztime, jdbcType=TIMESTAMP},
			zutime=#{zutime, jdbcType=TIMESTAMP}
		WHERE
			xordernum=#{xordernum, jdbcType=VARCHAR}
			AND xrow=#{xrow, jdbcType=INTEGER}
			AND zid=#{zid, jdbcType=VARCHAR}
	</update>

	<select id="findOpordHeaderByXordernum" resultType="Opordheader">
		SELECT * FROM Opordheader WHERE xordernum=#{xordernum} AND zid=#{zid} AND zactive='1'
	</select>

	<select id="findOporddetailByXordernumAndXrow" resultType="Oporddetail">
		SELECT * FROM Oporddetail WHERE xordernum=#{xordernum} AND xrow=#{xrow} AND zid=#{zid} AND zactive='1'
	</select>

	<select id="findOporddetailByXordernum" resultType="Oporddetail">
		SELECT * FROM Oporddetail WHERE xordernum=#{xordernum} AND zid=#{zid} AND zactive='1'
	</select>

	<select id="getAllOpordheader" resultType="Opordheader">
		SELECT * FROM Opordheader WHERE zid=#{zid} AND zactive='1'
	</select>

	<select id="findOpordHeaderByXtypetrnAndXpornumAndXdateAndXcus" resultType="Opordheader">
		SELECT 
			* 
		FROM 
			Opordheader 
		WHERE 
			xtypetrn=#{xtypetrn}
			AND xpornum=#{xpornum}
			AND xcus=#{xcus}
			AND TO_CHAR(xdate,'yyyy-MM-dd')=#{xdate}
			AND zid=#{zid} 
			AND zactive='1'
	</select>

	<select id="findOpordHeaderByXtypetrnAndXtrnAndXdate" resultType="Opordheader">
		SELECT 
			* 
		FROM 
			Opordheader 
		WHERE 
			xtypetrn=#{xtypetrn}
			AND xtrn=#{xtrn}
			AND TO_CHAR(xdate,'yyyy-MM-dd')=#{xdate}
			AND zid=#{zid} 
			AND zactive='1'
	</select>

	<select id="findAllOpordHeaderByXtypetrnAndXtrnAndXdate" resultType="Opordheader">
		SELECT 
			* 
		FROM 
			Opordheader 
		WHERE 
			xtypetrn=#{xtypetrn}
			AND xtrn=#{xtrn}
			AND TO_CHAR(xdate,'yyyy-MM-dd')=#{xdate}
			AND zid=#{zid} 
			AND zactive='1'
	</select>

	<select id="findOporddetailByXordernumAndXitem" resultType="Oporddetail">
		SELECT 
			* 
		FROM 
			oporddetail 
		WHERE 
			xordernum=#{xordernum}
			AND xitem=#{xitem}
			AND zid=#{zid} 
			AND zactive='1'
	</select>

</mapper>