<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asl.mapper.OrderRequisitionMapper">

	<select id="getAllBranchesRequisitions" resultType="com.asl.model.BranchesRequisitions">
		SELECT
			XPORNUM,
			ZORG,
			XSTATUSPOR,
			XDATE
		FROM 
			POORDHEADER
			JOIN ZBUSINESS ON ZBUSINESS.ZID=POORDHEADER.ZID
		WHERE 
			ZBUSINESS.CENTRALZID=#{zid}
			AND TO_CHAR(XDATE,'yyyy-MM-dd')=#{xdate}
			AND XTYPE='Requisition Order'
			AND ZBUSINESS.BRANCH='1'
			AND POORDHEADER.ZACTIVE='1'
			AND POORDHEADER.XSTATUSPOR='Open'
	</select>

	<select id="getAllBranchesRequisitionDetails" resultType="com.asl.model.BranchesRequisitions">
		SELECT
			POORDHEADER.XPORNUM,
			ZBUSINESS.ZORG,
			POORDDETAIL.XITEM,
			CAITEM.XDESC,
			POORDDETAIL.XQTYORD,
			POORDHEADER.XSTATUSPOR,
			XDATE
		FROM 
			POORDHEADER
			JOIN POORDDETAIL ON POORDDETAIL.XPORNUM=POORDHEADER.XPORNUM AND POORDDETAIL.ZID=POORDHEADER.ZID
			JOIN CAITEM ON CAITEM.XITEM=POORDDETAIL.XITEM AND CAITEM.ZID=POORDDETAIL.ZID
			JOIN ZBUSINESS ON ZBUSINESS.ZID=POORDHEADER.ZID
		WHERE 
			ZBUSINESS.CENTRALZID=#{zid}
			AND TO_CHAR(POORDHEADER.XDATE,'yyyy-MM-dd')=#{xdate}
			AND POORDHEADER.XTYPE='Requisition Order'
			AND ZBUSINESS.BRANCH='1'
			AND POORDHEADER.ZACTIVE='1'
			AND POORDHEADER.XSTATUSPOR='Open'
	</select>

</mapper>