<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asl.mapper.OrderRequisitionMapper">

	<select id="getAllOpenBranchesRequisitions" resultType="com.asl.model.BranchesRequisitions">
		SELECT
			XPORNUM,
			ZORG,
			XSTATUSPOR,
			XDATE,
			POORDHEADER.ZID AS "BRANCHZID"
		FROM 
			POORDHEADER
			JOIN ZBUSINESS ON ZBUSINESS.ZID=POORDHEADER.ZID
		WHERE 
			ZBUSINESS.CENTRALZID=#{zid}
			AND XTYPE='Requisition Order'
			AND XSTATUSPOR='Open'
			AND ZBUSINESS.BRANCH='1'
			AND POORDHEADER.ZACTIVE='1'
		ORDER BY
			ZBUSINESS.ZORG
	</select>

	<select id="getAllBranchesRequisitions" resultType="com.asl.model.BranchesRequisitions">
		SELECT
			XPORNUM,
			ZORG,
			XSTATUSPOR,
			XDATE,
			POORDHEADER.ZID AS "BRANCHZID"
		FROM 
			POORDHEADER
			JOIN ZBUSINESS ON ZBUSINESS.ZID=POORDHEADER.ZID
		WHERE 
			ZBUSINESS.CENTRALZID=#{zid}
			AND TO_CHAR(XDATE,'yyyy-MM-dd')=#{xdate}
			AND XTYPE='Requisition Order'
			AND ZBUSINESS.BRANCH='1'
			AND POORDHEADER.ZACTIVE='1'
		ORDER BY
			ZBUSINESS.ZORG
	</select>

	<select id="getAllBranchesRequisitionDetails" resultType="com.asl.model.BranchesRequisitions">
		SELECT
			POORDHEADER.XPORNUM,
			ZBUSINESS.ZORG,
			POORDDETAIL.XITEM,
			CAITEM.XDESC,
			POORDDETAIL.XQTYORD,
			POORDDETAIL.XUNITPUR,
			POORDHEADER.XSTATUSPOR,
			XDATE
		FROM 
			POORDHEADER
			JOIN POORDDETAIL ON POORDDETAIL.XPORNUM=POORDHEADER.XPORNUM AND POORDDETAIL.ZID=POORDHEADER.ZID
			JOIN CAITEM ON CAITEM.XITEM=POORDDETAIL.XITEM AND CAITEM.ZID=#{zid}
			JOIN ZBUSINESS ON ZBUSINESS.ZID=POORDHEADER.ZID
		WHERE 
			ZBUSINESS.CENTRALZID=#{zid}
			AND TO_CHAR(POORDHEADER.XDATE,'yyyy-MM-dd')=#{xdate}
			AND POORDHEADER.XTYPE='Requisition Order'
			AND ZBUSINESS.BRANCH='1'
			AND POORDHEADER.ZACTIVE='1'
		ORDER BY
			POORDHEADER.XPORNUM, ZBUSINESS.ZORG, POORDDETAIL.XITEM ASC
	</select>

	<select id="getDetailListByXpornumAndBranchZid" resultType="PoordDetail">
		SELECT 
			poorddetail.xpornum,
			poorddetail.xrow,
			poorddetail.xitem,
			caitem.xdesc as "xitemdesc",
			poorddetail.xnote,
			poorddetail.xunitpur,
			poorddetail.xqtyord,
			poorddetail.xrate,
			poorddetail.zactive,
			caitem.xcatitem,
			caitem.xgitem
		FROM 
			poorddetail 
			JOIN caitem on caitem.xitem=poorddetail.xitem AND caitem.zid='900000'
		WHERE 
			poorddetail.xpornum=#{xpornum}
			AND poorddetail.zid=#{branchzid}
			AND poorddetail.zactive='1'
	</select> 

</mapper>