<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asl.mapper.ProductionSuggestionMapper">

	<select id="getProductionSuggestion" resultType="com.asl.model.ProductionSuggestion">
		SELECT
			*
		FROM
			PRO_SUGG
		WHERE
			chalan=#{chalan}
			AND TO_CHAR(xdate,'yyyy-MM-dd')=#{xdate}
			AND zid=#{zid}
	</select>

	<select id = "createSuggestion" statementType = "CALLABLE">
		{call proc_suggesstion(#{xordernum, jdbcType = VARCHAR, mode = IN})}
	</select>

	<delete id="deleteSuggestion">
		DELETE 
		FROM 
			PRO_SUGG 
		WHERE 
			chalan=#{chalan}
			AND TO_CHAR(xdate,'yyyy-MM-dd')=#{xdate}
			AND zid=#{zid}
	</delete>

	<select id="searchClananNumbers" resultType="String">
		SELECT distinct chalan FROM pro_sugg WHERE UPPER(chalan) LIKE '%' || #{chalan} || '%' AND zid=#{zid}
	</select>
</mapper>