<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asl.mapper.ProfileLineMapper">

	<insert id="save" 
			parameterType="ProfileLine">
		INSERT INTO ProfileLine
		(	
			profileLineId,
			profileId,
			profileCode,
			profileType,
			enabled,
			display,
			required,
			screenPrompt,
			seqn,
			businessId,
			createdBy,
			lastModifiedBy,
			createdByIP,
			lastModifiedByIP,
			status,
			createDate,
			updateDate
		)
		VALUES
		(
			PROFILE_LINE_SEQ.nextval,
			#{profileId, jdbcType=NUMBER},
			#{profileCode, jdbcType=VARCHAR},
			#{profileType, jdbcType=VARCHAR},
			#{enabled, jdbcType=NUMBER},
			#{display, jdbcType=NUMBER},
			#{required, jdbcType=NUMBER},
			#{screenPrompt, jdbcType=VARCHAR},
			#{seqn, jdbcType=NUMBER},
			#{businessId, jdbcType=VARCHAR},
			#{createdBy, jdbcType=VARCHAR},
			#{lastModifiedBy, jdbcType=VARCHAR},
			#{createdByIP, jdbcType=VARCHAR},
			#{lastModifiedByIP, jdbcType=VARCHAR},
			#{status, jdbcType=VARCHAR},
			#{createDate, jdbcType=DATE},
			#{updateDate, jdbcType=DATE}
		)
	</insert>

	<update id="update" 
			parameterType="ProfileLine">
		UPDATE ProfileLine
		SET
			profileId=#{profileId, jdbcType=NUMBER}
			profileCode=#{profileCode, jdbcType=VARCHAR},
			profileType=#{profileType, jdbcType=VARCHAR},
			enabled=#{enabled, jdbcType=NUMBER},
			display=#{display, jdbcType=NUMBER},
			required=#{required, jdbcType=NUMBER},
			screenPrompt=#{screenPrompt, jdbcType=VARCHAR},
			seqn=#{seqn, jdbcType=NUMBER},
			businessId=#{businessId, jdbcType=VARCHAR},
			createdBy=#{createdBy, jdbcType=VARCHAR},
			lastModifiedBy=#{lastModifiedBy, jdbcType=VARCHAR},
			createdByIP=#{createdByIP, jdbcType=VARCHAR},
			lastModifiedByIP=#{lastModifiedByIP, jdbcType=VARCHAR},
			status=#{status, jdbcType=VARCHAR},
			createDate=#{createDate, jdbcType=DATE},
			updateDate=#{updateDate, jdbcType=DATE}
		WHERE
			profileLineId=#{profileLineId}
	</update>

	<select id="findById" resultType="ProfileLine">
		SELECT * FROM ProfileLine WHERE profileLineId=#{profileLineId}
	</select>

	<select id="getAllByProfileIdAndProfileType" resultType="ProfileLine">
		SELECT * FROM ProfileLine WHERE profileId=#{profileId} AND profileType=#{profileType} AND businessId=#{businessId}
	</select>

</mapper>